<h2>Projects</h2>
<div id="blog_body">
  <section>
  <h3>Morpheus - <%= link_to 'www.sleepmorpheus.com', 'www.sleepmorpheus.com' %></h3>
  Morpheus is a polyphasic sleep planner written in Ruby on Rails. I was always fascinated by the idea of sleep hacking, so I wrote a small application that helps people explore different polyphasic sleep cycles based on preferences. I host it on Heroku with Postgres to store information about individual cycles, and used <%= link_to 'Bootstrap', 'twitter.github.com/bootstrap' %> for the form elements.
  </section>

  <section>
  <h3>Personal Site</h3>
  a.k.a this site. I mainly created it to explore HTML5 and CSS3. Along the way, I learned a little about <%= link_to 'email obfuscation', 'hivelogic.com/enkoder/' %>, microframeworks from which I chose <%= link_to 'Middleman', 'middlemanapp.com' %> (to aid with templating a static site), <%= link_to 'Web Fonts', 'www.google.com/webfonts' %>, and the <%= link_to 'HTML5 Boilerplate', 'html5boilerplate.com' %>. I used <%= link_to 'Subtle Patterns', 'subtlepatterns.com/' %> for the background pattern and Veodesign's <%= link_to 'Somicro', 'veodesign.com/2011/en/09/07/somicro-27-free-simple-social-media-icons' %> icon set, though I had to add the Github icon myself.
  </section>
</div>